.popup__zoom_opened {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.popup-zoom-image__container {
  display: flex;
  flex-direction: column;
  max-width: 75vw;
  background-color: transparent;
  margin-top: 50%;
  position: absolute;
  padding: 0;
}

.popup__image {
  width: 100%;
  max-width: 800px;
  max-height: 600px;
}

.popup__image-name {
  margin-top: 10px;
  font-size: 12px;
  color: #fff;
}

.popup__close-button_image {
  position: relative;
  top: 3px;
  left: 450px;
}

@media (max-width: 1000px) {
  .popup-zoom-image__container {
    margin-top: 480px;
    position: relative;
  }

  .popup__close-button_image {
    top: -38px;
    left: 445px;
  }
}

@media (max-width: 683px) {
  .popup-zoom-image__container {
    margin-top: 500px;
  }

  .popup__image {
    display: flex;
  }

  .popup__image-button {
    width: 30px;
    height: 30px;
    position: relative;
    top: -40px;
    left: 63px;
  }
}
